ul.post-attachments{list-style:none;margin:0;}
li.post-attachment{background:url(icons/document.png) 0 4px no-repeat;padding-left:24px;}	.post-attachment.mime-imagejpeg,.post-attachment.mime-imagepng,.post-attachment.mime-imagejpeg,.post-attachment.mime-imagegif{background-image:url(icons/document-image.png);}
.post-attachment.mime-applicationzip{background-image:url(icons/document-zipper.png);}
.post-attachment.mime-applicationpdf{background-image:url(icons/document-pdf.png);}
.post-attachment.mime-applicationvnd-ms-excel{background-image:url(icons/document-excel.png);}
.post-attachment.mime-applicationvnd-openxmlformats-officedocument-spreadsheetml-sheet{background-image:url(icons/document-excel.png);}
.post-attachment.mime-applicationmsword{background-image:url(icons/document-word.png);}
.post-attachment.mime-applicationvnd-openxmlformats-officedocument-wordprocessingml-document{background-image:url(icons/document-word.png);}
.post-attachment.mime-applicationvnd-oasis-opendocument-spreadsheet{background-image:url(icons/document-ods.png);}
.post-attachment.mime-applicationvnd-oasis-opendocument-text{background-image:url(icons/document-odt.png);}
.post-attachment.mime-audiompeg{background-image:url(icons/document-music.png);}